In [1]:
import pandas as pd
import numpy as np
from scipy import sparse
from sklearn.preprocessing import normalize
from sklearn.model_selection import train_test_split
from sklearn.metrics import mean_squared_error
from tqdm.notebook import tqdm
import pickle

In [2]:
train_joke_df = pd.read_csv(r'..\data\recsys-in-practice\train_joke_df.csv')

In [3]:
train_joke_df["UID"] = train_joke_df["UID"].astype(int)
train_joke_df["JID"] = train_joke_df["JID"].astype(int)

train_joke_df['UID'] = train_joke_df['UID'] - 1
train_joke_df['JID'] = train_joke_df['JID'] - 1

In [4]:
train_joke_df

           UID  JID  Rating
0        18028    5   -1.26
1         3297   63   -4.17
2         3365   57    0.92
3        12734   91    3.69
4        11364   37   -6.60
...        ...  ...     ...
1448359  22603   25    2.82
1448360  22254   35   -1.94
1448361  21055   39   -9.56
1448362  12327   96    0.87
1448363  11527    2    9.32

[1448364 rows x 3 columns]

In [5]:
train_df, valid_df = train_test_split(train_joke_df, test_size=0.5, random_state=42)

len(valid_df)

724182

In [6]:
train_df["UID"] = train_df["UID"].astype(int)
train_df["JID"] = train_df["JID"].astype(int)
valid_df["UID"] = valid_df["UID"].astype(int)
valid_df["JID"] = valid_df["JID"].astype(int)


# сделаем сортировку и перепишем index
train_df = train_df.sort_values(by=['UID', 'JID'])
train_df = train_df.reset_index(drop=True)

valid_df = valid_df.sort_values(by=['UID', 'JID'])
valid_df = valid_df.reset_index(drop=True)